/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; /* Police élégante et moderne */
  background-color: #f4f9fd; /* Bleu pastel */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  position: relative;
}

body::before, body::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10vw;
  background-color: #ffcf47; /* Jaune pastel */
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

main {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

h1 {
  text-align: center;
  color: #3b8d99;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recap {
  background-color: #eef7fc; /* Bleu pastel */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  border-left: 4px solid #3b8d99;
  border-right: 4px solid #3b8d99;
  width: 100%;
}

#recap p {
  font-size: 1.2rem;
  color: #444;
}

label {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #666;
  font-weight: 500;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background-color: #ffcf47;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #ffb84c;
}

#valider[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styling des liens */
a {
  color: #3b8d99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

